.profile_page{
    text-align: center;
}

.profile_page .image_div{
    position: relative;
}

.profile_page img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.profile_page .change_image{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    opacity: .8;
    color: white;
    background-color: var(--gray-deep);
    transform: translate(-50%, -50%);
    display: none;
}

.profile_page .change_image label{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.profile_page .image_div:hover .change_image{
    display: block;
}


.profile_page .person-name{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.profile_page p{
    margin: 5px 0;
}